.container1 {
    margin: 50px;
  }

  /* .div1 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  
  .form {
    width: 50%;
    padding-top: 40px;
  }
  
  .form1 {
    width: 50%;
    height: 10%;
    padding-top: 40px;
  }
  
  .formheading {
    text-align: center;
    padding: 10px;
    color: rgb(46, 115, 243);
    display: flex;
    flex-direction: column;
  }

  .logo:hover {
    cursor: pointer;
  }

  .formheading h6 {
    padding-top: 20px;

  }


  .sbtn {
    min-width: 11%;
  }

  .btndiv {
    text-align: center;
  }

  .btndiv p {
    margin-top: 20px;
    font-size: 12px;
  }
  
  .ortext {
    /* float: left; */
    width: 33.33%;
    /* margin: 30px 0; */
    text-align: center;
    border-top: 1px solid #ccc;
    position: relative;
    margin-top: 40px;
  }
  
  .spans {
    /* font-size: 16px; */
    /* text-align: center; */
    line-height: 40px;
    color: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -22px;
    /* z-index: 1; */
    /* float: left; */
    width: 100%;
  }

  .spans p {
    width: 45px;
    background-color: #fff;
    margin: auto;
  }

  /* .input {
    width: 300px;
  } */

  .checkb {
    display: flex;
  }
  
  .mb-3 {
    padding-top: 10px;
  }

  .forgot:hover{
    cursor: pointer;
  }

  .star {
    color: #dd2c00!important;
    margin-left: 3px;
    margin-right: 3px;
  }

.checkbox {
  padding-top: 10px;
}  

.subbtn {
  text-align: center;
  padding-top: 25px;
}

.message {
  margin-top: 40px;
  text-align: center;
}

.ortext2 {
  /* float: left; */
  width: 100%;
  /* margin: 30px 0; */
  text-align: center;
  border-top: 1px solid gray;
  position: relative;
  margin-top: 10px;
}

.para {
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}
  
 
  
  /* .otherpart {
    background: rgb(46, 115, 243, 0.7);
    width: 50%;
    border-radius: 15px;
  }
  
  .otherpart h1, h5 ,p {
    padding: 40px;
    color: white;
    text-align: justify;
  } */