

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
} */



.App {
  height: 1050px;
  margin-top: 70px;
}
 
.err{
  text-align: center;
  padding: 200px;
}












